In [7]:
import pandas as pd
import imblearn
from imblearn.over_sampling import SMOTE
from sklearn.metrics import accuracy_score, classification_report

In [2]:
clean_test= pd.read_csv('clean_test.csv')
clean_train= pd.read_csv('clean_train.csv')
clean_valid= pd.read_csv('clean_valid.csv')

In [3]:
clean_test.head()

,Unnamed: 0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,target
0,0,-0.006106,-0.017323,0.010018,0.000162,-0.010869,-0.014983,-0.017576,-0.023403,-0.011200,...,-0.003887,0.007716,0.004664,-0.045852,-0.027145,-0.016353,0.012189,-0.011100,0.009411,0
1,1,-0.025590,-0.011748,-0.011015,-0.045809,-0.035080,-0.019468,-0.031520,-0.014525,-0.048430,...,0.030729,0.017520,0.006541,-0.035717,0.018211,0.006560,0.098270,0.058421,-0.024556,0
2,2,-0.013536,-0.030806,0.000213,-0.045282,0.034772,0.252739,-0.044197,0.003539,0.048456,...,0.049210,-0.006120,0.013758,-0.055657,-0.020782,0.056603,-0.010829,-0.039656,-0.041803,0
3,3,0.233055,0.000143,-0.041087,-0.077430,-0.124727,-0.124795,0.057186,0.131462,0.210410,...,-0.063327,-0.071557,0.113556,-0.060079,-0.009442,0.108288,0.005616,0.012295,0.074677,0
4,4,-0.020847,-0.017792,-0.027428,0.048610,-0.003020,-0.057793,-0.083301,-0.078412,-0.045958,...,0.066751,0.159130,-0.036188,0.239901,-0.101722,-0.089125,-0.063903,-0.000301,0.196552,0

In [4]:
clean_train.head()

,Unnamed: 0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,target
0,0,-0.003173,-0.000882,0.033354,0.030973,-0.010749,0.018649,-0.011156,-0.030592,-0.001529,...,0.004711,0.084619,0.045057,-0.008905,0.006092,-0.090259,-0.022170,0.044593,-0.062312,0
1,1,-0.023781,-0.015600,0.069585,-0.029231,-0.006057,0.052954,-0.012233,0.015796,0.037437,...,0.094510,-0.000123,-0.001441,-0.000575,0.090334,-0.037713,-0.018147,-0.030219,0.020128,0
2,2,-0.011903,-0.016064,-0.015150,-0.006831,-0.013297,0.006234,-0.004035,-0.001978,-0.003765,...,0.042963,-0.007169,-0.000556,0.005347,0.025716,-0.023383,-0.016988,0.000309,-0.014644,0
3,3,0.047622,0.452925,-0.032184,0.005439,0.025612,0.037362,-0.059981,-0.015386,-0.033357,...,0.049030,-0.026254,0.010350,-0.027137,0.012367,0.024758,0.013180,-0.050674,-0.071168,0
4,4,-0.017249,-0.009569,0.013907,0.043203,-0.014938,0.004608,0.004770,0.046237,0.014187,...,0.192907,-0.050289,0.220694,-0.017173,-0.008997,0.025578,0.139728,-0.013193,0.067912,0

In [5]:
clean_valid.head()

,Unnamed: 0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,target
0,0,-0.018448,-0.038103,0.005937,-0.018635,-0.026736,-0.001622,0.024851,-0.002407,-0.014209,...,-0.032802,0.004427,-0.019779,-0.011858,0.002304,-0.028436,0.047450,0.003976,-0.015014,1
1,1,-0.015554,-0.031923,0.004686,-0.015176,-0.009926,-0.003197,0.021329,-0.009572,-0.006486,...,-0.024409,0.011212,-0.016810,-0.005173,-0.003157,-0.015212,0.019044,0.025107,-0.004970,0
2,2,-0.030514,-0.058019,-0.006211,0.033809,0.086550,-0.028042,-0.091000,-0.123521,0.038452,...,0.104490,0.011378,-0.023989,-0.053986,0.015500,-0.135022,-0.088638,-0.043007,0.099628,0
3,3,-0.018416,-0.048440,0.018754,0.056281,-0.050306,0.096529,0.105008,0.049266,-0.047686,...,-0.014183,-0.040762,0.032227,-0.066526,-0.097143,0.051571,-0.045706,-0.012550,0.069361,0
4,4,-0.017369,-0.032273,0.005637,-0.013686,-0.010661,-0.006092,0.022861,0.005283,-0.016279,...,-0.023937,0.001420,-0.014803,-0.013904,0.009008,-0.009298,0.024897,0.015028,-0.008649,0

In [6]:
## checking the blance of traing data
clean_train.target.value_counts()

0    2892
1     452
Name: target, dtype: int64

In [ ]:
### our data is imbalance with more value of 0 and less value of 1 so we will use smote oversampling for balancing the dataset

In [9]:
X_train = clean_train.loc[:, clean_train.columns != 'target']

In [10]:
X_train=  X_train.values
Y_train = clean_train['target'].values

In [11]:
## our dataset in imbalnce making this balance using smote
oversample = SMOTE(random_state=42)
X_over, y_over = oversample.fit_resample(X_train, Y_train) ## balnced dataset

**logistic Regression model**

In [12]:
from sklearn.linear_model import LogisticRegression

In [13]:
log = LogisticRegression()

In [14]:
model0=log.fit(X_over,y_over)

In [15]:
## vailading the accuracy of model
X_vaild=clean_valid.loc[:, clean_valid.columns != 'target'].values
Y_valid = clean_valid['target'].values

In [16]:
Y_predict = model0.predict(X_vaild)

In [19]:
print('accuracy of logistic regression on validation data is '+str(accuracy_score(Y_predict,Y_valid)))

accuracy of logistic regression on validation data is 0.7874439461883408

In [18]:
print(classification_report(Y_valid,Y_predict))

              precision    recall  f1-score   support

           0       0.91      0.84      0.87       975
           1       0.27      0.42      0.33       140

    accuracy                           0.79      1115
   macro avg       0.59      0.63      0.60      1115
weighted avg       0.83      0.79      0.81      1115

In [20]:
Y_train_predict = model0.predict(X_train)

In [22]:
## scoring on training data
print('accuracy of logistic regression on training data is '+str(accuracy_score(Y_train_predict,Y_train)))

accuracy of logistic regression on training data is 0.9404904306220095

**Gaussian naive Bayes**

In [24]:
from sklearn.naive_bayes import GaussianNB

In [25]:
gnb = GaussianNB()

In [26]:
model= gnb.fit(X_over,y_over)

In [27]:
## vailading the accuracy of model
X_vaild=clean_valid.loc[:, clean_valid.columns != 'target'].values
Y_valid = clean_valid['target'].values

In [28]:
Y_predict = model.predict(X_vaild)

In [29]:
print('accuracy of gaussian naive bayes is '+str(accuracy_score(Y_predict,Y_valid)))

accuracy of gaussian naive bayes is 0.5354260089686098

In [30]:
print(classification_report(Y_valid,Y_predict))

              precision    recall  f1-score   support

           0       0.91      0.52      0.66       975
           1       0.16      0.64      0.26       140

    accuracy                           0.54      1115
   macro avg       0.53      0.58      0.46      1115
weighted avg       0.81      0.54      0.61      1115

In [31]:
## scoring on training data
Y_train_predict = model.predict(X_train)

In [32]:
print('accuracy of naive bayes on training data is '+str(accuracy_score(Y_train_predict,Y_train)))

accuracy of naive bayes on training data is 0.5583133971291866

**Random Forest**

In [33]:
## using Random forest
from sklearn.ensemble import RandomForestClassifier

In [66]:
clf = RandomForestClassifier(max_depth=10, random_state=0, class_weight = 'balanced') ## max depth is hyperparameter we have tuned by checking accuracy on different value

In [67]:
model2 = clf.fit(X_train,Y_train)

In [68]:
Y_predict = model2.predict(X_vaild)

In [69]:
print('accuracy of random forest classifier is '+str(accuracy_score(Y_predict,Y_valid)))

accuracy of random forest classifier is 0.8699551569506726

In [70]:
print(classification_report(Y_valid,Y_predict))

              precision    recall  f1-score   support

           0       0.87      0.99      0.93       975
           1       0.00      0.00      0.00       140

    accuracy                           0.87      1115
   macro avg       0.44      0.50      0.47      1115
weighted avg       0.76      0.87      0.81      1115

In [71]:
## scoring on training data
Y_train_predict = model2.predict(X_train)

In [72]:
print('accuracy of Random forest on training data is '+str(accuracy_score(Y_train_predict,Y_train)))

accuracy of Random forest on training data is 0.9913277511961722

**AdaBoost Classifier**

In [73]:
from sklearn.ensemble import AdaBoostClassifier

In [74]:
ada = AdaBoostClassifier(n_estimators=100, random_state=0)

In [75]:
model3 = ada.fit(X_train,Y_train)

In [76]:
Y_predict = model3.predict(X_vaild)

In [77]:
print('accuracy of AdaBoost classifier is '+str(accuracy_score(Y_predict,Y_valid)))

accuracy of AdaBoost classifier is 0.852017937219731

In [78]:
print(classification_report(Y_valid,Y_predict))

              precision    recall  f1-score   support

           0       0.90      0.93      0.92       975
           1       0.39      0.31      0.34       140

    accuracy                           0.85      1115
   macro avg       0.65      0.62      0.63      1115
weighted avg       0.84      0.85      0.84      1115

In [79]:
## scoring on training data
Y_train_predict = model3.predict(X_train)

In [80]:
print('accuracy of Random forest on training data is '+str(accuracy_score(Y_train_predict,Y_train)))

accuracy of Random forest on training data is 0.978767942583732

**scoring on test data**

**1) Logistic Regression**

In [81]:
## final_accuary on test data

X_test=clean_test.loc[:, clean_test.columns != 'target'].values
Y_test = clean_test['target'].values

In [83]:
Y_final_predict = model0.predict(X_test)

In [84]:
print(classification_report(Y_test,Y_final_predict))

              precision    recall  f1-score   support

           0       0.96      0.88      0.92       960
           1       0.51      0.79      0.62       155

    accuracy                           0.87      1115
   macro avg       0.74      0.83      0.77      1115
weighted avg       0.90      0.87      0.88      1115

In [85]:
print("Final accuracy of logistic regression model is "+str(accuracy_score(Y_final_predict,Y_test)))

Final accuracy of logistic regression model is 0.8663677130044843

**2) Naive Bayes**

In [86]:
Y_final_predict = model.predict(X_test)
print(classification_report(Y_test,Y_final_predict))

              precision    recall  f1-score   support

           0       0.96      0.54      0.69       960
           1       0.23      0.85      0.36       155

    accuracy                           0.58      1115
   macro avg       0.59      0.69      0.52      1115
weighted avg       0.85      0.58      0.64      1115

In [87]:
print("Final accuracy of naive bayes model is "+str(accuracy_score(Y_final_predict,Y_test)))

Final accuracy of naive bayes model is 0.5820627802690583

**3) Random Forest**

In [88]:
Y_final_predict = model2.predict(X_test)
print(classification_report(Y_test,Y_final_predict))

              precision    recall  f1-score   support

           0       0.92      0.99      0.95       960
           1       0.89      0.48      0.62       155

    accuracy                           0.92      1115
   macro avg       0.91      0.73      0.79      1115
weighted avg       0.92      0.92      0.91      1115

In [89]:
print("Final accuracy of Random Forest model is "+str(accuracy_score(Y_final_predict,Y_test)))

Final accuracy of Random Forest model is 0.9192825112107623

**4) Adaboost Model**

In [90]:
Y_final_predict = model3.predict(X_test)
print(classification_report(Y_test,Y_final_predict))

              precision    recall  f1-score   support

           0       0.93      0.88      0.90       960
           1       0.43      0.57      0.49       155

    accuracy                           0.83      1115
   macro avg       0.68      0.72      0.70      1115
weighted avg       0.86      0.83      0.84      1115

In [92]:
print("Final accuracy of Adaboost model is "+str(accuracy_score(Y_final_predict,Y_test)))

Final accuracy of Adaboost model is 0.8349775784753363

A analysis on every model and which model to choose

*   we can reject naive bayes as it's accuracy and all other metric is comparetivly bad 
* we can also reject logistic regression as Random forest outform logistic regression in every metric
*   for Random Forest and Adaboost we can choose to use Random forest as it has better metric.
* finally we concluded that we can work with Random Forest model